name: Linux_Flatpak

on:
  workflow_dispatch:

jobs:
  build_ubuntu:
    runs-on: ubuntu-latest

    steps:
      - name: Verify AppStream Version
        run: |
           appstreamcli --version
    
      - name: Setup Flatpak
        run: |
          sudo apt update
          sudo apt install -y flatpak-builder flatpak

      - name: Add Flatpak repository
        run: |
          sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          
      - name: Install KDE SDK and Runtime
        run: |
          sudo flatpak install -y flathub org.kde.Sdk/x86_64/6.9 org.kde.Platform/x86_64/6.9
          
      - name: List Flatpak Installed Packages and Version
        run: |
          flatpak --version
          flatpak list

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache Flatpak builder artifacts
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/flatpak-builder
            ~/.var/cache/flatpak-builder
          key: ${{ runner.os }}-flatpak-${{ hashFiles('Flatpak/*.json') }}
          restore-keys: |
            ${{ runner.os }}-flatpak-

      - name: Inject Git commit hash into Flatpak manifest
        run: |
          COMMIT_HASH=$(git rev-parse HEAD)
          echo "Current commit hash: $COMMIT_HASH"
          sed -i "s/PDF4QT_LAST_COMMIT/$COMMIT_HASH/g" ./Flatpak/io.github.JakubMelka.Pdf4qt.json

      - name: Build Flatpak
        run: |
          flatpak-builder --repo=repo --sandbox --force-clean  build-dir ./Flatpak/io.github.JakubMelka.Pdf4qt.json 

      - name: Build Flatpak Package
        run: |
          flatpak build-bundle repo io.github.JakubMelka.Pdf4qt.flatpak io.github.JakubMelka.Pdf4qt

      - name: Upload Flatpak Package
        uses: actions/upload-artifact@v4
        with:
          name: io.github.JakubMelka.Pdf4qt.flatpak
          path: ./io.github.JakubMelka.Pdf4qt.flatpak
          retention-days: 30
          compression-level: 0
