name: Linux_AppImage

on:
  workflow_dispatch:

jobs:
  build_ubuntu:
    runs-on: ubuntu-22.04
    env:
      VCPKG_OVERLAY_PORTS: ${{ github.workspace }}/pdf4qt/vcpkg/overlays/linux:${{ github.workspace }}/pdf4qt/vcpkg/overlays/general
      VCPKG_INSTALLED_DIR: ${{ github.workspace }}/vcpkg_installed
      GNUPGHOME: ${{ github.workspace }}/gnupg

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libxcb-cursor0 libfuse2 libspeechd2 gnupg2 wget appstream libcups2 libcups2-dev
          wget -c "https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage"
          chmod +x appimagetool-x86_64.AppImage
          sudo mv appimagetool-x86_64.AppImage /usr/local/bin/appimagetool

      - name: Prepare GPG home
        run: |
          rm -rf "$GNUPGHOME"
          install -d -m 700 "$GNUPGHOME"
          
      - name: Configure GPG
        run: |
          echo "use-agent" >> "$GNUPGHOME/gpg.conf"
          echo "pinentry-mode loopback" >> "$GNUPGHOME/gpg.conf"
          echo "allow-loopback-pinentry" >> "$GNUPGHOME/gpg-agent.conf"
          echo "allow-preset-passphrase" >> "$GNUPGHOME/gpg-agent.conf"
          gpgconf --kill gpg-agent
          echo "GPG configuration complete."
        env:
          GNUPGHOME: ${{ env.GNUPGHOME }}

      - name: Import PGP private key
        run: |
          echo "${{ secrets.PGP_PRIVATE_KEY }}" | gpg --batch --import
          for keygrip in $(gpg --list-secret-keys --with-keygrip "${{ secrets.PGP_KEY_ID }}" | grep Keygrip | awk '{print $3}'); do
            echo "${{ secrets.PGP_PASSPHRASE }}" | "$(gpgconf --list-dirs libexecdir)/gpg-preset-passphrase" --preset "$keygrip"
          done
        env:
          GNUPGHOME: ${{ env.GNUPGHOME }}
          
      - name: Create Test signature
        run: |
          echo "TEST" >> ~/test_with_passphrase.txt
          echo "TEST" >> ~/test_without_passphrase.txt
          gpg --batch --yes --verbose --passphrase "${{ secrets.PGP_PASSPHRASE }}" --pinentry-mode loopback --detach-sign --local-user "${{ secrets.PGP_KEY_ID }}" --output ~/test_with_passphrase.txt.sig ~/test_with_passphrase.txt
          gpg --batch --yes --verbose --pinentry-mode loopback --detach-sign --local-user "${{ secrets.PGP_KEY_ID }}" --output ~/test_without_passphrase.txt.sig ~/test_without_passphrase.txt
        env:
          GNUPGHOME: ${{ env.GNUPGHOME }}

      - name: Verify Test signature
        run: |
          gpg --batch --yes --verbose --verify ~/test_with_passphrase.txt.sig ~/test_with_passphrase.txt
          gpg --batch --yes --verbose --verify ~/test_without_passphrase.txt.sig ~/test_without_passphrase.txt
        env:
          GNUPGHOME: ${{ env.GNUPGHOME }}
          
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: pdf4qt
          
      - name: 'VCPKG: Set up VCPKG'
        run: |
          git clone --depth=1 https://github.com/microsoft/vcpkg.git
          cd vcpkg
          ./bootstrap-vcpkg.sh
          ./vcpkg integrate install
        
      - name: 'VCPKG: Cache vcpkg dependencies'
        uses: actions/cache@v4
        with:
          path: |
            ./vcpkg/downloads
            ./vcpkg/packages
            ./vcpkg_installed
          key: ${{ runner.os }}-vcpkg-v2-${{ hashFiles('**/vcpkg.json', '**/vcpkg-configuration.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-v2-

      - name: 'VCPKG: Install Project Dependencies'
        run: |
          ./vcpkg install --triplet x64-linux-release --x-manifest-root=${{ github.workspace }}/pdf4qt --x-install-root=$VCPKG_INSTALLED_DIR --clean-buildtrees-after-build --clean-packages-after-build
        working-directory: vcpkg
        
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.9.0'
          host: 'linux'
          target: 'desktop'
          dir: '${{ github.workspace }}/qt/'
          install-deps: 'true'
          modules: 'qtspeech qtmultimedia'
          cache: 'true'
          cache-key-prefix: ${{ runner.os }}-qt-690

      - name: Build Project
        working-directory: pdf4qt
        run: |
          cmake -B build -S . -DPDF4QT_INSTALL_QT_DEPENDENCIES=0 -DCMAKE_TOOLCHAIN_FILE=../vcpkg/scripts/buildsystems/vcpkg.cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_VCPKG_BUILD_TYPE=Release -DPDF4QT_INSTALL_TO_USR=ON
          cmake --build build --target all release_translations -j6
          cmake --install build
          
      - name: Read version
        id: get_version
        run: |
          version=$(cat "pdf4qt/build/version.txt")
          echo "Version: $version"
          echo "appimagefilename=PDF4QT-$version-x86_64.AppImage" >> $GITHUB_ENV
          echo "appimage_update_info=gh-releases-zsync|JakubMelka|PDF4QT|latest|PDF4QT-*-x86_64.AppImage.zsync" >> $GITHUB_ENV
          echo "AppImage file name: PDF4QT-$version-x86_64.AppImage"
        env:
          appimagefilename: ${{ env.appimagefilename }}
          
      - name: 'Linux Deploy Qt'
        working-directory: pdf4qt/build
        run: |
          cp install/usr/share/icons/hicolor/scalable/apps/io.github.JakubMelka.Pdf4qt.svg install/io.github.JakubMelka.Pdf4qt.svg
          wget -O deploy.AppImage https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage
          chmod +x deploy.AppImage
          ./deploy.AppImage install/usr/share/applications/io.github.JakubMelka.Pdf4qt.desktop -executable-dir=install/usr/bin -extra-plugins=iconengines,imageformats,texttospeech
          
      - name: Sign and Repack AppImage
        working-directory: pdf4qt/build
        run: |
          appimagetool -u "${{ env.appimage_update_info }}" -s --sign-key "${{ secrets.PGP_KEY_ID }}" install/ ${{ env.appimagefilename }}
        env:
          GNUPGHOME: ${{ env.GNUPGHOME }}
          
      - name: Manual signature
        run: |
          gpg --batch --yes --verbose --pinentry-mode loopback --detach-sign --passphrase "${{ secrets.PGP_PASSPHRASE }}" --local-user "${{ secrets.PGP_KEY_ID }}" --output pdf4qt/build/${{ env.appimagefilename }}.sig pdf4qt/build/${{ env.appimagefilename }}
        env:
          GNUPGHOME: ${{ env.GNUPGHOME }}

      - name: Verify AppImage Detached Signature
        run: |
          echo "${{ secrets.PGP_PUBLIC_KEY }}" | gpg --batch --import
          gpg --verify pdf4qt/build/${{ env.appimagefilename }}.sig pdf4qt/build/${{ env.appimagefilename }}
        env:
          GNUPGHOME: ${{ env.GNUPGHOME }}

      - name: Upload AppImage Package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.appimagefilename }}
          path: ./pdf4qt/build/${{ env.appimagefilename }}
          retention-days: 30
          compression-level: 0
          
      - name: Upload AppImage Signature File
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.appimagefilename }}.sig
          path: ./pdf4qt/build/${{ env.appimagefilename }}.sig
          retention-days: 30
          if-no-files-found: warn
          compression-level: 0
          
      - name: Upload AppImage zsync File
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.appimagefilename }}.zsync
          path: ./pdf4qt/build/${{ env.appimagefilename }}.zsync
          retention-days: 30
          if-no-files-found: warn
          compression-level: 0

      - name: Cleanup GPG home
        run: |
          rm -rf "$GNUPGHOME"
        env:
          GNUPGHOME: ${{ env.GNUPGHOME }}
