[Desktop Entry]
Version=1.0
Type=Application
Name=PDF4QT Editor
Comment=Edit and modify PDF files
Exec=Pdf4QtEditor
Icon=io.github.JakubMelka.Pdf4qt.Pdf4QtEditor
Terminal=false
Categories=Office;
MimeType=application/pdf;
