[Desktop Entry]
Version=1.0
Type=Application
Name=PDF4QT LaunchPad
Comment=Launch PDF applications
Exec=Pdf4QtLaunchPad
Icon=io.github.JakubMelka.Pdf4qt
Terminal=false
Categories=Office;
MimeType=application/pdf;
