[Desktop Entry]
Version=1.0
Type=Application
Name=PDF4QT DocDiff
Comment=Compare PDF documents
Exec=Pdf4QtDocDiff
Icon=io.github.JakubMelka.Pdf4qt.Pdf4QtDocDiff
Terminal=false
Categories=Office;
MimeType=application/pdf;
