[Desktop Entry]
Version=1.0
Type=Application
Name=PDF4QT Viewer Lite
Comment=View and navigate PDF documents
Exec=Pdf4QtViewerLite
Icon=io.github.JakubMelka.Pdf4qt.Pdf4QtViewerLite.svg
Terminal=false
Categories=Office
MimeType=application/pdf
