[Desktop Entry]
Version=1.0
Type=Application
Name=PDF4QT Viewer Profi
Comment=Edit and modify PDF files
Exec=Pdf4QtViewerProfi
Icon=io.github.JakubMelka.Pdf4qt.svg
Terminal=false
Categories=Office
MimeType=application/pdf
