[Desktop Entry]
Version=1.0
Type=Application
Name=PDF4QT DocDiff
Comment=Compare PDF documents
Exec=Pdf4QtDocDiff
Icon=io.JakubMelka.Pdf4qt.Pdf4QtDocDiff.svg
Terminal=false
Categories=Office
MimeType=application/pdf
