[Desktop Entry]
Version=1.0
Type=Application
Name=PDF4QT Viewer Profi
Comment=PDF Editor
Exec=/usr/bin/Pdf4QtViewerProfi
Icon=/usr/share/icons/Pdf4QtViewerProfi.svg
Terminal=false
Categories=Utility;Office;
MimeType=application/pdf;
