[Desktop Entry]
Version=1.0
Type=Application
Name=PDF4QT Viewer Lite
Comment=PDF Viewer
Exec=/usr/bin/Pdf4QtViewerLite
Icon=/usr/share/icons/Pdf4QtViewerLite.svg
Terminal=false
Categories=Utility;Office;
MimeType=application/pdf;
