[Desktop Entry]
Version=1.0
Type=Application
Name=PDF4QT DocPage Organizer
Comment=PDF Document Page Organizer
Exec=/usr/bin/Pdf4QtDocPageOrganizer
Icon=/usr/share/icons/Pdf4QtDocPageOrganizer.svg
Terminal=false
Categories=Utility;Office;
