[Desktop Entry]
Version=1.0
Type=Application
Name=PDF4QT DocDiff
Comment=PDF Diff
Exec=/usr/bin/Pdf4QtDocDiff
Icon=/usr/share/icons/Pdf4QtDocDiff.svg
Terminal=false
Categories=Utility;Office;
